/*Header styles*/

.header{
    /*background: brown;*/
    grid-area: header;
    display: grid;
    grid-template: 20% 15% 45% 20% / 1fr minmax(auto, 300px) minmax(auto, 800px) minmax(auto, 300px) 1fr;
    grid-template-areas:
            "headerPanel headerPanel headerPanel headerPanel headerPanel"
            ". headerLogo linkMenu linkMenu ."
            ". headerLogo search navAccount ."
            ". navProducts navProducts navProducts ." ;
}