.signUpForm{
    margin: 0 10px;
    display: grid;
    grid-template-rows: 35px 35px 35px 35px 35px 35px 35px 35px 35px 35px 1fr;
    align-items: center;
    border-top: 1px solid #f36f28;
}
.nameField{
    color: #b2b2b2;
    font-size: 18px;
    margin: 0 10px;
}
.field{
    margin: 0 10px;

}
.field input {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 16px;
}
.buttonBlock{
    padding-top: 10px;
    border-top: 1px solid #f36f28;
    display: grid;
    grid-auto-flow: column;
}
.buttonBlock button{
    margin: 0 10px;
    border-radius: 5px;
    outline: none;
    height: 30px;
    text-transform: uppercase;
    background: #030303;
    color: white;
    border: 1px solid #f36f28;
}
.signUpButton:hover {
    font-weight: bold;
    color: #f36f28;
    box-shadow: inset 0 0 10px #f36f28;
    transition: all ease-in-out 300ms;
}
.closeButton:hover{
    font-weight: bold;
    color: #f36f28;
    box-shadow: inset 0 0 10px #f36f28;
    transition: all ease-in-out 300ms;
}