/*Header headerPanel styles */

.headerPanel{
    border-bottom: 1px solid #f36f28;
    box-shadow: 0 0 15px #f36f28;
    grid-area: headerPanel;
    background: #363636;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 400px) minmax(auto, 600px) minmax(auto, 400px) 1fr;
    z-index: 1;
}

.geolocation{
    color: #b2b2b2;
    margin: 0 10px;
    grid-column: 2 / 3;
    display: grid;
    justify-content: start;
    align-content: center;
}
.communication{
    grid-column: 3 / 4;
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
}
.communication p{
    color: #b2b2b2;
    line-height: 150%;
    max-width: 90px;
    font-size: 10px;
    padding-right: 10px;
    border-right: 3px solid #f36f28;
}

.communication span{
    color: #b2b2b2;
    padding: 10px;
}

.loginButton{
    grid-column: 4 / 5;
    display: grid;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
}
.loginButton button{
    margin: 10px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background: #030303;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #f36f28;
    outline: none;
    overflow: hidden;

}
.loginButton button:hover{
    color: #f36f28;
    box-shadow: 0 0 10px #f36f28;
    transition: all ease-in-out 300ms;

}
.fullName{
    color: white;
    font-weight: bold;
}

/*main{*/
/*    color: #030303;*/
/*    color: #363636;*/
/*    color: #4e6a5b;*/
/*    color: #8c9e78;*/
/*    color: #b2b2b2;*/
/*    color: #f57e43;*/
/*    color: #f36f28;*/

/*}*/
