.loginForm{
    margin: 0 10px;
    display: grid;
    grid-template-rows: 35px 35px 35px 35px 40px 1fr;
    align-items: center;
    border-top: 1px solid #f36f28;

}
.nameField{
    color: #b2b2b2;
    font-size: 18px;
    margin: 0 10px;
}
.field{
    margin: 0 10px;
}
.field input{
    height: 30px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    padding: 0 10px;
    font-size: 18px;
}
.fieldCheckbox{
    color: #b2b2b2;
    display: grid;
    grid-template-columns: 40px 1fr;
    width: 100%;
}
.fieldCheckbox input {
    margin: 2px 10px;
    height: 20px;
    width: 20px;
    border-radius: 5px;
}
.buttonBlock{
    border-top: 1px solid #f36f28;
    padding-top: 10px;
    display: grid;
    grid-auto-flow: column;
}
.buttonBlock button {
    margin: 0 10px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    background: #030303;
    color: white;
    border: 1px solid #f36f28;

}

.submit:hover{
    font-weight: bold;
    color: #f36f28;
    box-shadow: inset 0 0 10px #f36f28;
    transition: all ease-in-out 300ms;
}

.close:hover{
    font-weight: bold;
    color: #f36f28;
    box-shadow: inset 0 0 10px #f36f28;
    transition: all ease-in-out 300ms;
}