/*Main styles*/

.main{
    background: lightgray;
    grid-area: main;
    display: grid;
    grid-template: 1fr/ 1fr minmax(auto, 1400px) 1fr;
}

.mainContent{
    margin: 20px 0;
    grid-column: 2 / 3;

}