/*Main styles*/

.main{
    background: #d0d0d0;
    grid-area: main;
    display: grid;
    grid-template: 1fr/ 1fr minmax(auto, 1400px) 1fr;
}
.mainSection{
    margin: 20px 0;
    /*background: #27b8da;*/
    grid-column: 2/3;
    display:grid;
    column-gap: 15px;
    row-gap: 15px;
    grid-template: 50px 50px 1fr 50px / minmax(auto, 1100px) minmax(auto, 300px);
}

/*Products section*/


.productsTitle{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: auto 10px;
}
.selectFilter{
    margin: 0 10px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display:grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    justify-content: space-between;
    align-content: center;
}
.navigation{

}
.navigation span{
    margin: 5px;

}
.countProducts{

}
.countProducts select{
    height: 25px;
    border-radius: 5px;
}
.sortingProducts{

}
.sortingProducts select{
    height: 25px;
    border-radius: 5px;
}



.products{
    /*background: midnightblue;*/
    grid-column: 1 / 2;
    grid-row: 3 / 4;

}
.productItems{
    /*background: darkgoldenrod;*/
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    grid-template-columns: repeat(auto-fit , minmax(300px, 1fr));
    /*grid-template-rows: auto;*/

}

.productItem{
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    display: grid;
    grid-auto-flow: row;
    grid-template: 40px auto 1fr minmax(50px, auto) / 1fr;
}
.productName{
    margin: 10px 0;
    justify-self: center;
}
.productImage{

    justify-self: center;
}
.productImage img {
    height: 100%;
    width: 100%;
    justify-self: center;
}
.productDescription{
    margin: 10px;
    justify-self: center;
}
.productButtonGroup{
    justify-self: center;
}
.productButtonBasket{
    background: greenyellow;
    height: 30px;
    width: 70px;
    margin: 10px;
    border-radius: 5px;
}
.productButtonFavorite{
    background: orangered;
    height: 30px;
    width: 70px;
    margin: 10px;
    border-radius: 5px;
}

/*Filter section*/


.filter{
    /*background: darkred;*/
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: grid;
    grid-template-rows: max-content 1fr;

}
.filterPanel{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.price{
    display: grid;
    column-gap: 10px;
    grid-template-columns: minmax(50px, auto)  minmax(50px, auto);

}
.price input {
    padding: 5px;
    border-radius: 5px;
    height: 30px;
}
.priceName{
    grid-column-start: span 2;
    margin: 5px 0;
}
.brand{

}
.brandName{
    margin: 5px 0;
}
.brandItem{

}
.filterSubmit{
    margin: 10px 0;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background: #72ca1c;
    font-weight: bold;
    font-size: 16px;
}


.selectFilterBottom{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    display:grid;
    grid-auto-columns: auto;
    grid-auto-flow: column;
    justify-content: space-between;
    align-content: center;
    margin: auto 10px;
}