.containerSignUp {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgba(3, 3, 3, 0.7);
}
.formContainerSignUp {
    display: grid;
    position: relative;
    height: 480px;
    width: 400px;
    top: 50%;
    left: 50%;
    margin: -240px 0 0 -200px;
    background: #363636;
    grid-template-rows: 50px 1fr;
    border-radius: 15px;
    border: 1px solid #f36f28;
    box-shadow: 0 0 15px #f36f28;
}

.nameForm {
    display: grid;
    grid-template-columns: 1fr 50px;
}

.nameForm h3 {
    color: white;
    margin: 13px 10px;
    font-size: 24px;
}

.nameForm button {
    display: grid;
    height: 30px;
    width: 30px;
    margin: 10px;
    border-radius: 50%;
    outline: none;
}
.nameForm button:hover {
    display: grid;
    height: 34px;
    width: 34px;
    margin: 8px;
    border-radius: 50%;
    background: black;
    box-shadow: 0 0 15px black;
}

.nameForm button img {
    justify-self: center;
    align-self: center;
    height: 30px;
    width: 30px;
    -webkit-filter: hue-rotate(35deg);
}