/*Header headerLinkMenu styles*/

.headerLinkMenu{
    grid-area: linkMenu;
    /*background: aquamarine;*/
    display: grid;
    grid-template-rows: 100%;
    grid-auto-columns: max-content;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;

}

.headerLinkMenu a {
    font-weight: bold;
    text-decoration: none;
    line-height: 250%;
    padding: 0 10px 0 10px;
    background: #363636;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.headerLinkMenu a:hover{
    color: white;
}

.activeLink {
    padding-bottom: 5px;
    color: #f36f28;
    font-weight: bold;
    border-bottom: 1px solid #f36f28;
    border-right: 1px solid #f36f28;
    border-left: 1px solid #f36f28;
    box-shadow: 0 10px 10px #f36f28;
    transition: all ease 300ms;
    z-index: 0;

}

